<!-- <h1> This is heading</h1>
<button class="px-5 py-2 bg-red-500 hover:bg-red-600 rounded-full">Click</button> -->

<header class="bg-blue-500 text-white p-4" style="height: 50px; display: flex; justify-content: center; align-items: center;">
  <div class="container mx-auto flex justify-between text-center">
    <div class="portfolio-title">
      Punam's Portfolio
    </div>
    <nav class="flex space-x-4">
      <!-- UNCOMMENT FOR NAV_LINKS -->
       
      <!-- <nav [routerLink]="'/welcome'" class="nav-welcome"></nav>
      <nav [routerLink]="'/home'" class="nav-home">Home</nav>
      <nav [routerLink]="'/projects'" class="nav-project">Projects</nav> -->

      <!-- <nav [routerLink]="'/project2'" class="nav-project2">PROJECT2</nav> -->

      <!-- <nav [routerLink]="'/contactus'" class="nav-contactus">ContactUs</nav>
      <nav [routerLink]="'/aboutus'" class="nav-aboutus">AboutUs</nav> -->

      <!-- <nav [routerLink]="'/live'" class="hover:underline">Live Matches</nav>
      <nav [routerLink]="'/history'" class="hover:underline">History</nav>
      <nav [routerLink]="'/point-table'" class="hover:underline">Point Table</nav>
      <nav [routerLink]="'/era-list'" class="hover:underline">Era-list</nav> -->
    </nav>
    <div></div>
  </div>
</header>
<br/>

<router-outlet></router-outlet>

<h1>Copyright &copy; 2023</h1>