<!-- home.component.html -->

<!-- <div class="container">
    <section class="intro">
      <h2>Hello, I'm Your Name</h2>
      <p>Welcome to my interactive portfolio. I am a passionate developer...</p>
    </section>
  
    <section class="skills">
      <h2>Skills</h2>
      <ul>
        <li>Web Development</li>
        <li>Angular</li>
        <li>JavaScript/TypeScript</li>
        <li>HTML/CSS</li>
      </ul>
    </section>
  </div> -->

<!-- home.component.html -->


<!-- <div class="home-container">
    <div class="intro">
      <h1>Hello, I'm Punam Surwase</h1>
      <p>I'm a Full Stack Web Developer with expertise in MEAN & MERN Stack.</p>
    </div>
  
    <div class="skills">
      <h2>Skills</h2>
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>ReactJS</li>
        <li>NodeJS</li>
        <li>Python</li>
        <li>MongoDB</li>
        <li>MySQL</li>
        <li>Angular</li>
      </ul>
    </div>
  
    <div class="experience">
      <h2>Professional Experience</h2>
      <p>1 year of experience in Full Stack Web Development.</p>
    </div>
  </div> -->



<!-- home.component.html -->

<!-- <div class="home-container">
    <div class="intro">
      <h1>Hello, I'm John Doe</h1>
      <p>I'm a Full Stack Web Developer with expertise in MEAN & MERN Stack.</p>
    </div>
  
    <div #threeContainer class="three-container"></div>
  
    <div class="skills">
      <h2>Skills</h2>
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>ReactJS</li>
        <li>NodeJS</li>
        <li>Python</li>
        <li>MongoDB</li>
        <li>MySQL</li>
        <li>Angular</li>
      </ul>
    </div>
  
    <div class="experience">
      <h2>Professional Experience</h2>
      <p>1 year of experience in Full Stack Web Development.</p>
    </div>
  </div>
   -->


   <div class="profile">
    <img class="home-bgimg" src="../../../assets/bgImg.jpg" alt="HomebgImg" />
   </div>

<div class="home-container">
  <div class="intro">
    <h1>Hello, I'm Punam Surwase</h1>
    <p>I'm a Full Stack Web Developer with expertise in MEAN & MERN Stack.</p>
  </div>

  <div #threeContainer class="three-container"></div>

  <div class="skills">
    <h2>SKILLS - </h2>
    <br />
    <ul>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>JavaScript</li>
      <li>ReactJS</li>
      <li>NodeJS</li>
      <li>Python</li>
      <li>MongoDB</li>
      <li>MySQL</li>
      <li>Angular</li>
    </ul>
  </div>

  <div class="experience">
    <h2>PROFESSIONAL EXPERIENCE</h2>
    <p>1 year of experience in Full Stack Web Development.</p>
  </div>
</div>