<!-- <p>projects works!</p> -->

<!-- <div class="projects-container">
    <ng-container *ngIf="projects.length > 0; else noProjects">
        <div *ngFor="let project of projects" class="project-card">
            <img [src]="project.image" alt="{{ project.title }}" />
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
            <a [href]="project.link" target="_blank">View Project</a>
        </div>
    </ng-container>
    <ng-template #noProjects>
        <p>No projects available.</p>
    </ng-template>
</div> -->



<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Static Template</title>
    <link rel="stylesheet" href="projects.component.css" type="text/css" />
  </head> -->

  <!-- <body> -->
    <main class="my-projects">
      <!-- <nav class="navBar"> -->
        <h1>🛒GROCO-SHOP WEBSITE🛍️</h1>
        <br/>
      <section class="heroSection">
        <!-- <div class="heroSectionDetails"> -->
          <h1>KEY HIGHLIGHTS OF THE PROJECT INCLUDE : </h1>
          <br/>
          <h3>🔎 Easily & Impressive Search Bar, Cart & Login: I have implemented a toggle functionality that allows seamless access to the search bar, cart, and user login sections. </h3>
           <h3>  🛍️ Efficient Product Management: Through the effective utilization of event listeners, I have ensured the smooth addition and removal of products from the list, optimizing the overall shopping process.</h3>
            <h3>📸 Interactive Slider: By incorporating left and right arrows, users can effortlessly navigate between previous and next slides, enabling them to explore various offerings in an engaging manner. </h3>
            <h3>📱 Responsive Design: The website is fully responsive, ensuring optimal functionality and visual appeal across different devices and screen sizes.</h3>
        <!-- </div> -->
      </section>
      <br/>

        <div class="desc" id="projects">
          <!-- <h1 class="cardHeading">MY PROJECTS</h1> -->
          <!-- <div class="projectContainer"> -->
            <!-- <img src="/html.svg" />
            <img src="/css.svg" /> -->
            <div class="projectDescription">
              <!-- <h4>Portfolio Website</h4> -->
              <p>To get a closer look at the project, please check the following LOOM video demonstration and the corresponding code on my GitHub profile. </p>
               <h4> 🔗 GITHUB : <a href="https://lnkd.in/dNDvwTXG">https://lnkd.in/dNDvwTXG</a>  </h4>
                <h4> 🎥 PROJECT PRESENTATION : <a href="https://lnkd.in/dkEmJUCK">https://lnkd.in/dkEmJUCK</a> </h4>
            </div>
          <!-- </div> -->
        </div>
      <!-- </section> -->

      <!-- <section class="contactForm" id="contactForm">
        <h1>Let's Connect</h1>
        <div class="formGroup">
          <label for="name">Enter Full Name</label><br />
          <input type="text" id="name" placeholder="Full Name" />
        </div>
        <div class="formGroup">
          <label for="email">Email</label><br />
          <input type="text" id="email" placeholder="Email" />
        </div>
        <div class="formGroup">
          <label for="message">Message</label><br />
          <textarea
            placeholder="Send some message !!!"
            id="message"
            cols="50"
            rows="4"
          ></textarea>
        </div>
        <button class="submmitButton" onclick="{submit()}">Connect</button>
      </section> -->
    </main>
  <!-- </body> -->
<!-- </html> -->